body {
    margin: 0%;
    background-image: url('../images/gamengpic3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
}

/* .navbar img{
    margin-left: 10px;
    margin-top: 10px;
    justify-items: left;
    
} */
 .navbar {
    display: block;
    height: 80px;
    background: rgba(0, 0, 0, 0.4);
    position: sticky; top: 0;
    
} 

.navbar ul{
    margin: 0;
    list-style: none;
    position: relative;
    height: 70px;
    display: flex;
    flex-direction:reverse;
    justify-content: right;
}

.navbar li a{
    
    padding: 14px 20px;
    text-decoration: none;
    color:black;
    transition: 0.3s;color:0.3s;
    font-size: 30px;
    font-family: Arial;
    margin-left:70px;
    
}
.navbar ul li a:hover{
    color: white;
    
    
} 

.container{
    width: 100%;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    height: 200px;
    gap:290px;
    transition: 0.3s;
}

.container li{
    position: relative;
    overflow: hidden;
    flex: 0 0 400px;
    height: 400px;
    border-radius: 50px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid#ddd;

}

.container li img{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.container li,
.container img
{
    transition: 0.3s;
}
.container li .content {
    transition: 1.5s ease;
}
.container span{
    text-align: center;
    width: 75%;
}
.container h2{
    font-weight: 100;
    font-size: 30px;
    line-height: 4px;
    margin-bottom: 3px;
    white-space: nowrap;
    color:#fff;
}
.container p {
    color:#fff;
    font-size: 20px;
    width: 100%;
}
.container li .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    color: #fff;
    padding: 15px;
    background: linear-gradient(0deg,rgb(0 0 0 /70%) 10%,rgb(255 255 255/0%)100%);
    opacity: 0;
    visibility: hidden;
}
.container:hover {
    gap: 0;
}
.container li.content span{
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 0px;
    translate: -50%;
    scale: 0.85;
    visibility: hidden;
    opacity: 0;
}
.container li:hover{
    flex: 0 1 300px;
    scale: 1.1;
    z-index: 10;
    opacity: 1;
}
.container li:hover .content{
    opacity: 1;
    visibility: visible;
}
.container li:hover span{
    scale: 1;
    opacity: 1;
    visibility: visible;
} 

 