body {
    margin: 0%;
    background-image: url(../images/munici\ sol.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.navbar {
    display: flex;
    height: 80px;
    background: rgba(0, 0, 0, 0.4);
    position: sticky; top: 0;
    
} 
/* .navbar img{
    margin: 20px, 0px;
} */

.navbar h1{
    width: 500%;
    font-size: 25px;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 80px;
    font-family: arial;
    font-size: 50px;
    

}

.navbar ul{
    margin: 0;
    list-style: none;
    position: relative;
    height: 70px;
    display: flex;
    flex-direction:reverse;
    justify-content: right;
    
   position: fixed; width: 100%;
   height: 100vh; 
   /* top: 80px; left: -100%; */
   text-align: center;
   transition: all 0.5s;
}

.navbar ul li a{
   
    /* padding: 14px 20px;
    text-decoration: none;
    color:black;
    transition: 0.3s;color:0.3s;
    font-size: 30px;
    font-weight: bold;
    margin-left:70px; 
    text-transform: uppercase;  */
    padding: 14px 20px;
    text-decoration: none;
    color:black;
    transition: 0.3s;color:0.3s;
    font-size: 30px;
    font-family: Arial;
    text-align: right;
    /* margin-left:70px; */
    display: block;
    margin: 50px 0;
    line-height: 30px;
    
}
.navbar ul li a:hover{
    background: url("munici\ sol.jpg")no-repeat;
    color: white;
    
    
}

nav{
    text-align: center;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}

.container ul{
    justify-content: space-between;
    display:flex;
    gap: 250px;  
    justify-content:center;
    align-content: end;
    list-style: none;
    border-radius: 50px;
    width: auto;
    flex-wrap: wrap;
    
    
} 
.container li{
    color: white;
    text-align: center;
    width: auto;
    
}





.container ul li:hover{
    transform: scale(1.2);
    transition: .5s;
    border: 2px;
    
    
}

.navbar img{
    width: 80px;
    float: left;
}
.flex-container text {
    font-size: 50px;
}
